form {
  margin-bottom: 2rem;
}

.input-wrapper {
  width: 100%;
  border-radius: var(--b-rad);
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;

  // Checkbox Styles
  .faux-checkbox {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px var(--border-dark);
    flex-shrink: 0;
  }
}

.todo-input {
  background: transparent;
  transition: background-color var(--anim), color var(--anim), box-shadow var(--anim);
  width: 100%;
  border: none;
  font-family: inherit;
  font-size: inherit;
  z-index: 1;

  &:focus {
    outline: none;
  }
}

// Theme Switch Styles
// Dark Theme
[data-theme="dark"] {
  .input-wrapper {
    background-color: var(--bg-todo-dark);
    color: var(--text-primary-dark);
    box-shadow: var(--shadow-dark);

    .todo-input,
    &::placeholder {
      color: var(--text-secondary-dark);
      transition: color var(--anim);
    }

    &:focus {
      &::placeholder {
        color: transparent;
      }
    }
  }
}

// Light Theme
[data-theme="light"] {
  .input-wrapper {
    background-color: var(--bg-todo-light);
    color: var(--text-primary-light);
    box-shadow: var(--shadow-light);

    .todo-input,
    &::placeholder {
      color: var(--text-secondary-light);
    }
  }
}
