@use "../styles/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  transition: background-color var(--anim), color var(--anim);
}

body {
  --s: 200px;
  --l: 300px;

  font-family: "Josefin Sans", sans-serif;
  font-size: 1.125rem;
  font-optical-sizing: auto;
  font-style: normal;

  &::before {
    content: "";
    position: fixed;
    background: var(--gradient);
    top: 0;
    left: 0;
    width: 100%;
    height: clamp(var(--s), 25vw, var(--l));
    z-index: -1;
  }

  &::after {
    content: "";
    position: fixed;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: clamp(var(--s), 25vw, var(--l));
    transition: background-image var(--anim);
    z-index: -1;
  }
}

[data-theme="light"] {
  background-color: var(--bg-light);

  body::after {
    background-image: url("/images/background-light.png");
  }

  .notice {
    color: var(--text-secondary-light);
  }
}

[data-theme="dark"] {
  background-color: var(--bg-dark);

  body::after {
    background-image: url("/images/background-dark.png");
  }

  .notice {
    color: var(--text-secondary-dark);
  }
}

.container {
  max-width: 540px;
  margin: 0 auto;
  padding: 0 1.5rem;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.notice {
  text-align: center;
  font-size: 0.875rem;
  margin-top: 50px;
  transition: color var(--anim);
}
