@use "../styles/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  transition: background-color var(--anim), color var(--anim);
}

body {
  --s: 200px;
  --l: 300px;

  font-family: "Josefin Sans", sans-serif;
  font-size: 1.125rem;
  font-optical-sizing: auto;
  font-style: normal;

  &::before {
    content: "";
    position: fixed;
    background: var(--gradient);
    top: 0;
    left: 0;
    width: 100%;
    height: clamp(var(--s), 25vw, var(--l));
    z-index: -1;
  }

  &::after {
    content: "";
    position: fixed;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: clamp(var(--s), 25vw, var(--l));
    transition: background-image var(--anim);
    z-index: -1;
  }
}

[data-theme="light"] {
  background-color: var(--bg-light);
  color: var(--text-primary-light);

  body::after {
    background-image: url("/images/background-light.png");
  }
}

[data-theme="dark"] {
  background-color: var(--bg-dark);
  color: var(--text-primary-dark);

  body::after {
    background-image: url("/images/background-dark.png");
  }
}

.container {
  max-width: 540px;
  margin: 0 auto;
  padding: 0 1.5rem;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.delete-btn {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease;

  @include hover {
    opacity: 1;
  }
}
