.header {
  min-height: clamp(108px, 10vw, 158px);
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: clamp(1.688rem, 5vw, 2.5rem);
    letter-spacing: 0.938rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    color: white;
  }
}

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}
