.filters {
  display: grid;
  row-gap: 1rem;
  grid-template-areas:
    "items items clear"
    "filter-buttons filter-buttons filter-buttons";

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "items filter-buttons clear";
  }

  &:not(.has-todos) {
    .items {
      border-top-left-radius: var(--b-rad);
    }

    .clear {
      border-top-right-radius: var(--b-rad);
    }
  }

  .items,
  .clear {
    width: 100%;
    padding: 1.5rem;
    font-family: "Josefin Sans", sans-serif;
    transition: color var(--anim);
  }

  .items {
    grid-area: items;
    border-bottom-left-radius: var(--b-rad);
  }

  .clear {
    grid-area: clear;
    justify-self: end;
    text-align: right;
    border-bottom-right-radius: var(--b-rad);
    font-weight: 300;
  }

  .filter-buttons {
    grid-area: filter-buttons;
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    padding: 1rem;
    border-radius: var(--b-rad);

    button {
      font-family: "Josefin Sans", sans-serif;
      font-weight: 600;
    }

    @media screen and (min-width: 768px) {
      border-radius: 0;
    }
  }

  .items,
  .clear,
  .filter-buttons button {
    font-size: 1.125rem;

    @media screen and (min-width: 768px) {
      font-size: 0.875rem;
    }
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    transition: color var(--anim);
  }

  [data-theme="dark"] &,
  [data-theme="light"] & {
    .filter-buttons button {
      &.active {
        color: var(--primary-color);
      }
    }
  }

  .items {
    transition: background-color var(--anim);
  }

  .clear,
  .filter-buttons {
    transition: background-color var(--anim), color var(--anim);
  }
}

// Theme Switch Styles
// Dark Theme
[data-theme="dark"] {
  .filters {
    .items,
    .clear {
      background-color: var(--bg-todo-dark);
    }

    .items,
    .clear {
      color: var(--text-secondary-dark);
    }

    .filter-buttons {
      background-color: var(--bg-todo-dark);
    }

    button {
      color: var(--text-secondary-dark);

      &:hover {
        color: var(--border-light);
      }
    }
  }
}

// Light Theme
[data-theme="light"] {
  .filters {
    .items,
    .clear {
      background-color: var(--bg-todo-light);
    }

    .items,
    .clear {
      color: var(--text-secondary-light);
    }

    .filter-buttons {
      background-color: var(--bg-todo-light);
    }

    button {
      color: var(--text-secondary-light);

      &:hover {
        color: var(--text-todo-light);
      }
    }
  }
}
