.filters {
  display: grid;
  row-gap: 1rem;
  grid-template-areas:
    "items items clear"
    "filter-buttons filter-buttons filter-buttons";

  @media (width > 768) {
    grid-template-areas: "items filter-buttons clear";
  }

  .items,
  .clear {
    width: 100%;
    padding: 1rem;
    font-size: clamp(0.75rem, 2vw, 0.875rem);
  }

  .items {
    grid-area: items;
    border-bottom-left-radius: var(--b-rad);
  }

  .clear {
    grid-area: clear;
    justify-self: end;
    text-align: right;
    border-bottom-right-radius: var(--b-rad);
    font-weight: 300;
  }

  .filter-buttons {
    grid-area: filter-buttons;
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    padding: 1rem;
    border-radius: var(--b-rad);

    @media (width > 768) {
      border-radius: 0;
    }
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    transition: color var(--anim);
  }

  [data-theme="dark"] &,
  [data-theme="light"] & {
    .filter-buttons button {
      &:hover {
        color: var(--border-light);
      }

      &.active {
        color: var(--primary-color);
      }
    }
  }
}

// Theme Switch Styles
// Dark Theme
[data-theme="dark"] {
  .filters {
    .items,
    .clear {
      background-color: var(--bg-todo-dark);
    }

    .clear {
      color: var(--text-secondary-dark);
    }

    .filter-buttons {
      background-color: var(--bg-todo-dark);
    }
    button {
      color: var(--text-secondary-dark);
    }
  }
}

// Light Theme
[data-theme="light"] {
  .filters {
    .items,
    .clear {
      background-color: var(--bg-todo-light);
    }

    .clear {
      color: var(--text-secondary-light);
    }

    .filter-buttons {
      background-color: var(--bg-todo-light);
    }
    button {
      color: var(--text-secondary-light);
    }
  }
}
